<div class="header">
    <div class="headerText"><h3>Images</h3></div>
 </div>
<div class="mat-elevation-z8 table">
  <table mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Block# </th>
      <td [ngClass]="{'is-mined': element.hash256 != '', 'is-new' : element.hash256 == '' }" mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td [ngClass]="{'is-mined': element.hash256 != '', 'is-new' : element.hash256 == '' }" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="hash256">
      <th mat-header-cell *matHeaderCellDef> Hash </th>
      <td [ngClass]="{'is-mined': element.hash256 != '', 'is-new' : element.hash256 == '' }" mat-cell *matCellDef="let element"> {{element.hash256}} </td>
    </ng-container>


    <ng-container matColumnDef="nonce">
      <th mat-header-cell *matHeaderCellDef> Nonce </th>
      <td [ngClass]="{'is-mined': element.hash256 != '', 'is-new' : element.hash256 == '' }" mat-cell *matCellDef="let element"> {{element.nonce}} </td>
    </ng-container>


    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> View </th>
      <td [ngClass]="{'is-mined': element.hash256 != '', 'is-new' : element.hash256 == '' }" mat-cell *matCellDef="let element"> <fa-icon [icon]="['fas', 'eye']" mdbTooltip="<img width=100 height=100 src='https://localhost:7007/api/blocks/{{element.id}}/image'>" [html]="true"></fa-icon></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" ></tr>
  </table>

  <mat-paginator #paginator [pageSize]=10></mat-paginator>
</div>
<div class="header">
  <div class="headerText"><h3>Add New Image</h3></div>
</div>
<div class="create-form">
  <app-create-block #createBlock [people]="people" (submitAction)="postNewImage($event)"></app-create-block>
</div>


